body{
    background: blanchedalmond;
}

.chat-ui{
    height: 100vh;
}
/*****friends list header*******/

.logo-header{
    background: #00FFBF;
    padding: 15px;
    height: 75px;
    background: linear-gradient(to top right,#804f,#55185d );
}

.back-btn{
    flex: 10%;
}

.logo{
    flex: 70%;
}

.logout{
    flex: 20%;
}

.logout .btn{
    background-color: white;
    border-radius: 50px;
    box-shadow: 1px 1px 1px white;
}

.search-bar{
    padding-top: 30px;
    background: rgba(0,0,0,.2);
}

.search-bar .form-control,.input-group-text{
    border-radius: 50px;
    border:none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff;
}



/*****friends list header*******/


/******friends-list*****/

.friends-list-ui{
    background: linear-gradient(to top right, #804f,#6a359c);
    height: 100vh;
    overflow-y: scroll;
    color: white;
}

.friends-list-ui::-webkit-scrollbar{
    width: 0;
}

.frnd{  
    border-bottom: 1px rgba(0,0,0,.1) solid;
}

/******friends-list*****/

/*****other users list*****/

.request .btn{
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom right,orangered,orange);
    color: whitesmoke;
    transition: all .5s;
}

/*****other users list*****/

/*******Chat-box*******/

.chat-box{
    height: 100vh;
    overflow-y: scroll;
    background-image: url("../assets/Images/Chat-stuff-themes/chat-theme-02.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.chat-box::-webkit-scrollbar{
    width: 0;
}

.initial-info{
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

.chats{
    margin-bottom: 50px;
}
.outgoing-msg .msg-text{
    margin: 5px 10px 5px 0;
    margin-left: auto;
    border-radius: 5px 20px 5px 20px;
    background: linear-gradient(to bottom right, orange, #55185d);
    color: whitesmoke;
}

.incoming-msg .msg-text{
    margin: 5px 0 5px 10px;
    margin-right: auto;
    border-radius: 5px 20px 5px 20px;
    background: linear-gradient(to top right, #804f,#6a359c);
    color: whitesmoke;
}

.msg-text{
    padding: 10px;
    max-width: 300px;
}
/*******Chat-box*******/


/*******Chat-box header*******/

.chat-box-header{
    align-items: center;
    background: #FF0040;
    height: 75px;
    background: linear-gradient(to top right,#804f,#55185d );
}


.profile-img img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.sender-name .user_id{
    font-size: 20px;
}

.sender-name .online-status{
    font-size: 15px;
}

.unfollow-btn .btn{
    background: none;
    border-radius: 50px;
    color: white;
}

/*******Chat-box header*******/

/**********text box***********/

.text-bar{
    position: fixed;
    width: inherit;
    padding : 3px 8px;
    bottom: 5px;
    column-gap: 1%;
}
.text-bar textarea{
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    height: 40px;
    max-height: 70px;
    flex: 90%;
    box-shadow: 1px 2px 7px rgba(0,0,0,.5);
}

.msg-send-icon,.camera-icon{
    background: linear-gradient(to top right,#804f,#55185d );
    color: white;
    border-radius: 10px;
    padding: 0 5px;
    flex: 5%;
    transition: .5s;
}


.msg-send-icon i:hover,.camera-icon i:hover{
    transform: scale(1.2,1.2);
}
/**********text box***********/