*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.event-img{
    height: 100vh;
}    

.techofes{
    background-image: url("../assets/Images/culturals.jpg");
    background-size: contain;
    background-color: burlywood;
    background-blend-mode: multiply;
}

.pagination-bar{
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.pagination-bar ul li{
    display: inline;
}

.pagination-bar ul li a{
    padding: 10px 15px;
    margin: 10px;
    background-color: rgba(0,0,0,0.4) ;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.4), 3px 3px 5px rgba(0,0,0,0.4);
    border-radius: 7px;
    transition: all .5s;
}

.pagination-bar ul li a:hover{
    transform: scale(1.5,1.5);
}