body{
    overflow-x: hidden;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 0;
}

.nav-w-slogan{
    height: 100vh;
    background-image: url("../assets/Images/Chat-stuff-themes/chat-theme-01.jpg");
    color: black!important;
    background-size: cover;
}
/************************NAVBAR*****************************/

.navbar-nav a{
    text-transform: uppercase;
    transition: .3s;
    color: black;
}

.nav-link:hover{
    letter-spacing: 2px;
}

/************************NAVBAR*****************************/

/************************SLOGAN*****************************/
.slogan .logo-name{
    font-size: 10vh;
    font-weight: bold;
    animation: anim1 10s infinite;
}

@keyframes anim1 {
    0%{
        letter-spacing: 20px;
        color: transparent
    }
    50%{
        letter-spacing: 0px;
        color: black;
    }
    100%{
        letter-spacing: 20px;
        color: transparent;
    }
}
/*(@supports(-webkit-text-stroke: 1px white){
    .slogan .logo-name .fill-text{
        color: transparent;
        font-size: 115px;
        -webkit-text-stroke: 3px black;
    }
}*/

.login-btn,.signup-btn,.chat-btn .btn{
    border-radius: 30px;
    transition: all .3s ease-in;
}

.slogan{
    height: inherit;
}



.slogan .btn{
    background-color: white;
    border: 1px white solid;
}

.slogan .btn:hover{
    letter-spacing: 4px;
}

#Info h1{
    font-weight: 700;
}

/************************SLOGAN*****************************/

/************************CARDS*****************************/
#Cards{
    padding-top: 50px;
}

.card{
    width:20rem;
    transition: .5s;
}
.card h1{
    font-size: 100px;
    font-weight: bolder;
}

.feature-1 .overlay{
    background: linear-gradient(to right,#F70844,#F83A69);
}

.feature-2 .overlay{
    background: linear-gradient(to right,yellow,orange);
}

.feature-3 .overlay{
    background: linear-gradient(to right,#F70844,#F83A69);
}

.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.1,1.1);
    transform: translateX(-100px);
    transition: .5s;
}

.feature-2:hover{
    box-shadow: 3px 3px 30px black;
    transform: scale(1.1,1.1);
    transform: translateX(100px);
    transition: .5s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: .5s;
}

.overlay h1{
    padding: 40% 0;
    transition: .5s;
    text-shadow: 5px 10px 15px black;
}

.card:hover .overlay{
    height: 30%;
} 

.card:hover .overlay h1{
    transform: translateY(-130px);
}

/************************CARDS*****************************/