body{
    overflow-x: hidden;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 0;
}

.nav-w-slogan{
    height: 100vh;
    background-image: url("../assets/Images/Events/home-bg.png");
    color: black!important;
    background-size: 110vw;
    background-repeat: no-repeat;
}
/************************NAVBAR*****************************/

.navbar-nav a{
    text-transform: uppercase;
    transition: .3s;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav-link:hover{
    letter-spacing: 4px;
}


/************************NAVBAR*****************************/

/************************SLOGAN*****************************/
.slogan .logo-name{
    font-size: 10vh;
    font-weight: bold;
    animation: anim1 10s infinite;
}

/*@keyframes anim1 {
    0%{
        letter-spacing: 20px;
        color: transparent
    }
    50%{
        letter-spacing: 0px;
        color: black;
    }
    100%{
        letter-spacing: 20px;
        color: transparent;
    }
}
(@supports(-webkit-text-stroke: 1px white){
    .slogan .logo-name .fill-text{
        color: transparent;
        font-size: 115px;
        -webkit-text-stroke: 3px black;
    }
}*/

.login-btn,.signup-btn,.chat-btn .btn{
    border-radius: 30px;
    transition: all .3s ease-in;
}

.slogan{
    height: inherit;
}



.slogan .btn{
    background-color: white;
    letter-spacing: 1px;
    border: none;
    transition: .3s;
}

.slogan .btn:hover{
    background: linear-gradient(to bottom left,#290a59,#ff7c00);
    border: none;
    letter-spacing: 4px;
    color: white;
}

#Info h1{
    font-weight: 700;
}

/************************SLOGAN*****************************/

/************************CARDS*****************************/
.Cards{
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.Cards .card{
    width: 300px;
}
/************************CARDS*****************************/


@media only screen and (max-width:600px){
    .nav-w-slogan{
        height: 100vh;
        background-image: url("../assets/Images/Events/events-bg.png");
        color: black!important;
        background-size: 110vw;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width:800px){
    
    .Cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
