*{
    box-sizing: border-box;
}

.container-fluid{
    padding: 0;
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10%;
}

.profile-container,.friends-list-container{
    border: 1px black solid;
}